#about
    h2
        font-weight: 700
    span
        background: #e74c3c
        color: white
        padding: 3px 5px
        transition: background 200ms ease-in-out
        &:hover
            background: #2c3e50
