.navbar
    box-shadow: 0 2px 11px rgba(0,0,0,0.2)
    .navbar-brand
        font-weight: 700
        font-size: 1.5rem
    .nav-link
        font-weight: 700
        color: #b2bec3
        &:hover
            color: #2c3e50 !important